body {
    background-color: #33415C;
    color: white;
}

.main-nav {
    background-color: #001233;
}

.form-container {
    background-color: #001233;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.form-container input, textarea {
    background-color: white;
    padding:5px 10px;
    color: black;
    border-radius:0;
    outline: none;
    border: none;
}

.field-group {
    width: 45%;
}

.form-container input:focus {
    background-color: white;
    color: black;
    outline: none;
}

.game-form-group {
    margin-bottom: 30px;
}

.game-form-group label {
    margin-bottom: 10px;
}

.game-form-container {
    width: 70%;
    padding: 50px;
}

.game-form-container input {
    background-color: white;
    color: black;
}

.game-form-container input:focus {
    color: black;
    background-color: white;
}

.game-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.game-container {
    background-color: #5c677d;
}

.game-block {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: #001233;
    margin-bottom: 30px;
}

.game-img {
    min-width: 100%;
    height: auto;
}

.game-body {
    padding: 30px;
    margin-top: 5px;
    justify-content: space-between;
}
.game-desc {
    width: 80%;
    margin-right: 20px;
}

.game-data {
    background-color: #5c677d;
    padding: 20px;
}
