{% extends 'base.html' %}
{% block content %}

<div class="profile-container">
    <div class='profile-header'>
        <img class="profile-pic" src="{{target_user.profile.avatar.url}}">
        <div class="user-info">
            <h3>{{target_user.username}}</h3>
            <p>{{target_user.profile.bio}}</p>
            <p>Website: {{target_user.profile.website}}</p>
            <a class="btn btn-secondary" href="{% url 'accounts:edit_profile' username=user.username %}">Edit profile</a>
        </div>
    </div>

    <div class="game-list-container mt-4">
        {% for game in target_user.games.all %}
            <div class="card game-container">
                <a href="{% url 'games:game_detail' pk=game.pk %}"><img class="card-img-top" src="{{game.cover_image.url}}" alt="Game cover"></a>
                <div class="card-body">
                    <h5 class="card-title">{{game.title}}</h5>
                    <p class="card-text">{{game.short_description}}</p>
                    <p class="text-light">{{game.developer}}</p>
                    {% if target_user == user %}
                        <div class="d-flex">
                            <a class="btn btn-success" href="{% url 'games:update_game' pk=game.pk %}">Update</a>
                            <a class="btn btn-danger ml-2" href="{% url 'games:delete_game' pk=game.pk %}">Delete</a>
                        </div>
                    {% else %}
                        <button class="btn btn-success">Add to Cart</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}