{% extends 'base.html' %}
{% block content %}

<div class="cart-container">
    <div class="cart-items">
        <h3>Items</h3>
        {% for item in items %}
        <div class="cart-game-container mt-4 ml-auto mr-auto">
            <img class="cart-img" src="{{item.game.cover_image.url}}">
            <div class="cart-game-info">
                <h4>{{item.game.title}}</h4>
                <p>${{item.game.price}}</p>
                <div class="quantity mb-4">
                    <button class="btn btn-primary btn-sm mr-1 cart-btn quantity-btn-remove" data-game="{{item.game.id}}" data-action="remove">-</button>
                    <span class="quantity-text" data-quantity="{{item.quantity}}">{{item.quantity}}</span>
                    <button class="btn btn-primary btn-sm ml-1 cart-btn quantity-btn-add" data-game="{{item.game.id}}" data-action="add">+</button>
                </div>
                <h5>Total</h5>
                <p>${{item.get_total}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="cart-info">
        <h3>Order</h3>
        <p>Items: {{item_count}}</p>
        <p>Total: ${{total}}</p>
        <a href="{% url 'games:checkout' %}" class="btn btn-success">Checkout</a>
        <a href="{% url 'games:game_list' %}" class="btn btn-primary mt-2">Continue Shopping</a>
    </div>
</div>

{% endblock %}